.esri-attribution {
  display: none;
  /* or */
  /* position: absolute;
  left: -9999px; */
}

b {
  color: orange;
}

br {
  content: "";
  margin: 2em;
  display: block;
  font-size: 24%;
}

calcite-label {
  --calcite-color-text-1: #ffffff;
  --calcite-font-size--1: 1.1rem;
  /* margin-top: 1vh; */
  margin-left: 15px;
  margin-top: 15px;
}

calcite-tabs {
  --calcite-color-border-3: #555555;
  --calcite-color-border-2: #555555;
  --calcite-color-border-1: #555555;
  border-style: solid;
  border-width: 0.7;
  border-top: rgb(0, 0, 0, 0);
}

calcite-action-bar {
  --calcite-color-border-3: #555555;
  --calcite-color-text-3: #bfbfbf;
}

calcite-shell {
  --calcite-color-foreground-1: #2b2b2b;
  --calcite-color-text-1: #ffffff;
  --calcite-color-background: #2b2b2b;
  --calcite-color-border-3: #555555;
}

calcite-shell-panel {
  --calcite-color-foreground-1: #2b2b2b;
  --calcite-color-foreground-2: #2b2b2b;
  --calcite-color-border-3: #555555;
}

calcite-panel {
  overflow-y: auto;
  --calcite-color-foreground-1: #2b2b2b;
  --calcite-color-foreground-2: #2b2b2b;
  --calcite-color-text-2: #ffffff;
  background-color: #2b2b2b;
  --calcite-color-border-3: #555555;
}

calcite-list {
  overflow-y: auto;
  --calcite-color-border-3: #555555;
}

/* Header */
.headerTitle {
  color: white;
  margin-left: 1rem;
  font-size: 1.3rem;
  margin-top: auto;
  margin-bottom: auto;
}

.date {
  color: gray;
  font-size: 0.8rem;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}

.dropdownFilterLayout {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  color: black;
  margin: auto;
}

/* total Progress */

.totalProgressDiv {
  display: flex;
  padding-left: 20px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.totalProgressNumber {
  color: #6ede00;
  font-size: 3rem;
  font-weight: bold;
  font-family: "calibri";
  margin-left: 4%;
}

.totalProgressNumber2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  margin-top: 3%;
  margin-left: 4%;
}

#utilityNumberDiv {
  width: 50%;
  height: 10%;
  padding-top: 2%;
  padding-left: 15px;
  font-size: 1vw;
  color: #f7f5f7;
}

#utilityNumberDiv b {
  font-size: 2.5vw;
  font-family: "Calibri";
  font-weight: bold;
  color: #6ede00;
  /*#d4ff33;*/
  margin: auto;
}

/* Information panel */
.informationDiv {
  padding-right: 10px;
}
